@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #4659b8;
  --foreground: #1e293b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e3a5f;
    --foreground: #f1f5f9;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
